body {
  background-color: #330066;
}

hi,
p {
  color: #999999;
  text-align: center;
}

h1 {
  color: #999999;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

img {
  display: #ffffff;
  margin: 0 auto;
}